.carousel .thumb img {
    width: 100% !important;
    overflow: hidden !important;
    height: 100% !important;
}

.carousel {
    max-width: 90vw !important;
}

.carousel .slide img {
    max-height: 70vh;  /* change this to whatever you want */
    width: auto;
    max-width: 90vw;
    object-fit: contain;
}

.single-card-container {
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 10px;
}