.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 70vh;  /* change this to whatever you want */
    width: auto;
}

.single-card-container {
    background-color: rgb(0, 0, 0, 0.6);
}